{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <h2>Welcome, {{ current_user.fullname }}</h2>
  <p>Select a subject to begin:</p>

  <div class="list-group mt-3">
    {% for subject in subjects %}
      <a href="{{ url_for('user.chapters', subject_id=subject.id) }}" class="list-group-item list-group-item-action">
        {{ subject.name }}
      </a>
    {% endfor %}
  </div>

  <a href="{{ url_for('main.logout') }}" class="btn btn-danger mt-4">Logout</a>
</div>
{% endblock %}

